:root {
    --primary-color: #3F3D56;
    --second-color: #fff;
    --three-color: #08083d;
    --line-bottom-grey: #eeeeee;
    --line-bottom-blue: #08083d;
    --gap: 1.5rem;
    --heigth-nav: 65px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
}

h1 {
    font-size: 6rem;
    text-decoration: dashed;

    font-weight: 700;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
}

h2 {
    font-size: 5rem;
    color: var(--primary-color);
}

h3 {
    font-size: 4.5rem;
    color: var(--primary-color);
}

h4 {
    font-size: 4rem;
    color: var(--primary-color);
}

h5 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

h6 {
    font-size: 3rem;
    color: var(--primary-color);
}

p {
    text-align: center;
    margin-bottom: 2rem;
}

.main-bg {
    background-image: url('../img/background-main.jpg');
    background-size: cover;
    background-position: left top;
    color: var(--primary-color);
}


.main-bg-invert {
    background-image: url('../img/background-main-invert.jpg');
    background-size: cover;
    background-position: left top;
    color: var(--primary-color);
}

.white-bg {
    background-color: var(--second-color);
    color: var(--primary-color) !important;
}

.main-content {
    padding-top: var(--heigth-nav);
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: var(--gap);
}

.section {
    height: 100vh;
}

.container-nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--heigth-nav);
    border-bottom: 1px solid var(--line-bottom-grey);
    background-color: var(--second-color);
    position: fixed;
    z-index: 999;
}

.container-aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.container-img {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img > img {
    width: 100%;
}

.box-nav {
    width: 500px;
}

.box-nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-nav > ul > li > a {
    color: var(--three-color);
    font-size: 1.8rem;
    display: block;
    position: relative;
}

.box-nav > ul > li > a::after {
    position: absolute;
    content: '';
    left: 10%;
    width: 0;
    height: 0.2rem;
    bottom: -1rem;
    background-color: var(--line-bottom-blue);
    transition: all 300ms ease-in-out;
}


.box-nav > ul > li > a:hover::after {
    left: 13%;
    width: 75%;

}

.into-content {
    height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.into-content > .text-into-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.into-content > .text-into-content > h1 {
    font-size: 5.5rem;
}

.into-content > .img-into-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.into-content > .img-into-content > img {
    width: 100%;
}

.top3-content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top3-content > h1 {
    margin-bottom: 4rem;
}

.text-top3-content {
    width: 60%;
}

.container-grid-content {
    height: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    height: 100%;
}

.grid-content > article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.grid-img-content {
    display: grid;
    grid-template-columns: repeat(minmax(3, 1fr));
    flex-wrap: wrap;
    gap: var(--gap);
    counter-reset: grid-counter;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img img {
    position: relative;
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.3) rotate(4deg);
}

.btn-home {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    border: 1px solid var(--line-bottom-blue);
    background-color: var(--second-color);
    cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--line-bottom-blue);
}

@media (max-width: 799px) {
    .into-content {
        flex-direction: column;
    }

    .into-content > .text-into-content {
        text-align: center;
    }

    .grid-content {
        grid-template-columns: repeat(1, 1fr);
    }
}